
/* Style for the navigation bar */
nav {
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  text-decoration: underline;
}

#nav {
  background-color: transparent;
  /* Add any additional styles you need for the AppBar */
}

/* Added by thomas - this include all from div in app.js */
body {
  color: white;
  background: linear-gradient(#1D1A34, #51488C, #1D1A34);
  opacity: 0.93;
  margin: 0;
  height: 100%;
  
}

.footer {
  background-color: transparent;
  color: white;
  bottom: 0%;
  width: 100%;
  position: fixed;
}

div {
  background-color: transparent;
  color: white;
}




