.history-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.history-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.transaction-row {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 90%;
}

.transaction-details {
  flex: 1;
}

.item-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.item-description {
  color: #fff;
  margin-bottom: 5px;
  text-align: left;

}

.time-price {
  color: #fff;
  text-align: left;
}

.line-break {
  width: 100%;
}

.transaction-hash {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
  max-width: 100%;
  display: block;
}

.with-underline {
  border-bottom: 1px solid #000; /* Adjust the color and width as needed */
  display: inline-block;
  padding: 0 4px; /* Add spacing between the text and the line */
}
