.history-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

}

.history-heading {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.transaction-row {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 90%;
}

.transaction-details {
  flex: 1;
}

.item-name {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

.item-description {
  color: #fff;
  margin-bottom: 5px;
  text-align: left;

}

.time-price {
  color: #fff;
  text-align: left;
}

.line-break {
  width: 100%;
}